.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


  .header-area{
   background-color:#B0DAFF;
  }
/* .menubar-area{
  background-color:#FEFF86;

} */
.footer-area{
   background-color: #FFEAEA;
}
.content-area{
  background-color: #F6F1F1;
}
.product-title-list {
  max-height: 50px;
  min-height: 50px;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-description-list {
  max-height: 100px;
  min-height: 100px;
  height: 100px;
  overflow: hidden;
  white-space: break-spaces;
  text-overflow: ellipsis;
}

.product-image-list {
  max-height: 175px;
  min-height: 150px;
}
